NODE_ENV=dev
PORT = 3003
AUTH_KEY=drivo3263
RESET_CODE_EXPIRY_TIME=3600
TOKEN_EXPIRY=2592000000
DB_HOST=mongodb://localhost:27017/
DB_NAME=drivo
DB_CONNECTION_URI=
ADMIN_EMAIL=drivoadmin@gmail.com
ADMIN_ACCOUNT_PASS=admin1234
ADMIN_APP_PASS = rrpduryiwyxznnpb